<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="AutoGeistEntitiesModel" connectionString="data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=&quot;D:\Data\Facultate\Anul 3\Medii vizuale de programare\Tirlea_Paul_Lab5\AutoGeist.mdf&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>